{% extends "base.html" %}
{% block main %}
<h1>Ajout album</h1>
<form role="form" method="POST" action="{{ url_for('save_album_ajout') }}">
  {{ form.hidden_tag() }}
  <div class={% if form.title.errors %}
              "form-group has-error"
              {% else %}
              "form-group"
              {% endif %}
              >
    {{ form.title.label }} {{ form.title(size=50,class_="form-control") }}
  </div>
  {% if form.title.errors %}
  <ul class="list-group">
    {% for e in form.title.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class={% if form.title_groupe.errors %}
              "form-group has-error"
              {% else %}
              "form-group"
              {% endif %}
              >
    {{ form.title_groupe.label }} {{ form.title_groupe(size=50,class_="form-control") }}
  </div>
  {% if form.title_groupe.errors %}
  <ul class="list-group">
    {% for e in form.title_groupe.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class={% if form.annee.errors %}
              "form-group has-error"
              {% else %}
              "form-group"
              {% endif %}
              >
    {{ form.annee.label }} {{ form.annee(size=50,class_="form-control") }}
  </div>
  {% if form.annee.errors %}
  <ul class="list-group">
    {% for e in form.annee.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class={% if form.img.errors %}
              "form-group has-error"
              {% else %}
              "form-group"
              {% endif %}
              >
    {{ form.img.label }} {{ form.img(size=50,class_="form-control") }}
  </div>
  {% if form.img.errors %}
  <ul class="list-group">
    {% for e in form.img.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class={% if form.author_id.errors %}
              "form-group has-error"
              {% else %}
              "form-group"
              {% endif %}
              >
    {{ form.author_id.label }} {{ form.author_id(size=50,class_="form-control") }}
  </div>
  {% if form.author_id.errors %}
  <ul class="list-group">
    {% for e in form.author_id.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class={% if form.genre_id.errors %}
              "form-group has-error"
              {% else %}
              "form-group"
              {% endif %}
              >
    {{ form.genre_id.label }} {{ form.genre_id(size=50,class_="form-control") }}
  </div>
  {% if form.genre_id.errors %}
  <ul class="list-group">
    {% for e in form.genre_id.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <input class="btn btn-default" type="submit" value="Enregistrer">
</form>
{% endblock %}
