{% extends "base.html" %}
{% block main %}
<h1>Album: {{ album.title }}</h1>
<form role="form" method="POST" action="">
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('edit_album', id=album.id) }}">Edit</a>
  <a href="{{ url_for('suppr_album', id=album.id) }}">Supprimer</a>

  {% endif %}
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.title.label }} {{ form.title(size=50,class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.title_groupe.label }} {{ form.title_groupe(size=50,class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.annee.label }} {{ form.annee(size=50,class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.img.label }} {{ form.img(size=50,class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.author_id.label }} {{ form.author_id(size=50,class_="form-control") }}
  </div>
  <div class="form-group">
    {{ form.genre_id.label }} {{ form.genre_id(size=50,class_="form-control") }}
  </div>
</form>
{% endblock %}
