{% extends "base.html" %}
{% block main %}
<h1>Author: {{ author.name }}</h1>
<form role="form" method="POST" action="">
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('edit_author', id=author.id) }}">Edit</a>
  <a href="{{ url_for('suppr_author', id=author.id) }}">Supprimer</a>
  {% endif %}
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
  </div>
</form>
{% endblock %}
