{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Les Francofolies</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
           <li><a href="{{ url_for('ajout_author') }}">Ajouter un auteur</a></li>
           <li><a href="{{ url_for('ajout_album') }}">Ajouter un album</a></li>
           <li><a href="{{ url_for('one_listeauteur') }}">Liste des auteurs</a></li>
           <li><a href="{{ url_for('one_listegenre') }}">Liste des genres</a></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rechercher <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="{{ url_for('select_annee') }}">par année</a></li>
               <li><a href="{{ url_for('select_author') }}">par Auteur</a></li>
               <li><a href="{{ url_for('select_title') }}">par titre</a></li>
               <li><a href="{{ url_for('select_genre') }}">par Genre</a></li>
             </ul>
           </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           {% if current_user.is_authenticated %}
           <li><a>{{ current_user.username }}</a></li>
           <li><a href="{{ url_for('logout') }}">
             <span class="glyphicon glyphicon-log-out" title="logout"></span>
           </a></li>
          {% endif %}
        </ul>
       </div><!--/.nav-collapse -->
     </div>
 </nav>
{% endblock %}
{% block content %}
   <div id="main" class="container-fluid theme-showcase" role="main">
      {% block main %} {% endblock %}
   </div>
{% endblock %}
