{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>

<form role="form" method="POST" action="{{ url_for('one_listegenres') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.recherche }} <input class="btn btn-default" type="submit" value="OK">
  </div>
</form>

  {% for x in genre %}
    <div class="col-md-3 col-sd-3 col-lg-3">
      <p>{{ x.id }} {{ x.name }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
