{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>
  {% for x in albums %}
    <div class="col-md-3 col-sd-3 col-lg-3">
      <a href="{{ url_for('one_album', id=x.id) }}">
      {% if x.img %}
        <img src="{{ url_for('static', filename='images/'+x.img) }}"/>
      {% endif %}
      <p>{{ x.title }} ({{ x.annee }})</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
