{% extends "base.html" %}
{% block main %}
<h1>Genre : {{ form.name.data }}</h1>
<form role="form" method="POST" action="">
    {% for x in genre %}
    <div class="col-md-3 col-sd-3 col-lg-3">
      <a href="{{ url_for('one_album', id=x.id) }}">
      {% if x.img %}
        <img src="{{ url_for('static', filename='images/'+x.img) }}"/>
      {% endif %}
      <p>{{ x.title }} ({{ x.annee }})</p>
    </div>
    {% endfor %}
</form>
{% endblock %}
