{% extends "base.html" %}
{% block main %}
<h1>Selection de l'autheur</h1>
<form role="form" method="POST" action="{{ url_for('one_par_author') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
  </div>
  <input class="btn btn-default" type="submit" value="Valider">
</form>
{% endblock %}
