{% extends "base.html" %}
{% block main %}
<h1>Selection du titre</h1>
<form role="form" method="POST" action="{{ url_for('one_title') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.title.label }} {{ form.title(size=50,class_="form-control") }}
  </div>
  <input class="btn btn-default" type="submit" value="Valider">
</form>
{% endblock %}
