{% extends "base.html" %}
{% block main %}
<h1>Selection de l'année</h1>
<form role="form" method="POST" action="{{ url_for('one_annee') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.annee.label }} {{ form.annee(size=50,class_="form-control") }}
  </div>
  <input class="btn btn-default" type="submit" value="Valider">
</form>
{% endblock %}
